{% extends "layout.html" %}
{% block content %}

<nav>
  <ul class="right hide-on-med-and-down">
    <li><a href="/viewsignup">Sign Up</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <h4 class="left hide-on-med-and-down logo"><i>Towards Light</i></h4>
  <h4 class="right hide-on-large-only logosmall"><i>Towards Light</i></h4>
  
  <ul id="slide-out" class="side-nav">
    <li><a href="/viewsignup">Sign Up</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>


<div class="container">
	<h3>Congratulations !! Your mail has been confirmed</h3>
	<blockquote>
      You can now <a href="/"> Login </a> and experience a whole new world of blogging!!<br>
      Happy Blogging!
    </blockquote>

<br><br>


</div>



{% endblock %}