<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
            <link type="text/css" rel="stylesheet" href="../static/css/self.css"  media="screen,projection"/>

              <link rel="shortcut icon" href="../static/images/shortcut.png">   
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title>Towards Light</title>
    </head>

    <body>
     {% block content %}
     {% endblock %}


      
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../static/js/materialize.min.js"></script>

            <script type="text/javascript" src="../static/js/self.js"></script>

            <script type="text/javascript" src="../static/js/login.js"></script>
                      

 <script type="text/javascript" src="../static/js/userhome.js"></script>
 <script src="../static/js/jquery.ui.widget.js"></script>
 
<script type="text/javascript" src="../static/js/jquery.fileupload.js"></script>
 
<script type="text/javascript" src="../static/js/jquery.fileupload-process.js"></script>
 
<script type="text/javascript" src="../static/js/jquery.fileupload-ui.js"></script>


 


    </body>
  </html>