
{% extends "layout.html" %}
{% block content %}
<nav style="background-color:#ef5350;">
  
  <h4 class="left hide-on-med-and-down logo"><i>Towards Light</i></h4>
    <h4 class="right hide-on-large-only logosmall"><i>Towards Light</i></h4>
  

  <ul id="nav-mobile" style="padding-right:100px" class="right hide-on-med-and-down">
      <li><a href="/messagecenter"><i class="material-icons ">email</i><span class="new badge" id="nomessages"></span></a></li>
    </ul>
  

  <ul id="nav-mobile2" class="left hide-on-large-only">
      <li><a href="/messagecenter"><i class="material-icons">email</i><span class="new badge" id="nomessagesmob"></span></a></li>
          </ul>
  

</nav>          

<div class="container hide-on-med-and-down">

  <div class="card "  style="max-height:1000px; max-width:500px">
    <div class="card-image waves-effect waves-block waves-light" style="max-height:800px; max-width:500px">
      <!--preloader##############################################################
-->
 <div class="center-align">

 <div id="preloader1" class="preloader-wrapper big active center">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>


</div>

<!--preloader###########################################
-->


      <img  class="activator profilepic" src="" style="max-height:100%;width:100%">
    </div>

    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 username" style="font-style:italic;font-size:34px"><i class="material-icons right">more_vert</i></span><p>Click to know more</p>
      
    </div>


    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4 username center"  style="font-style:italic;font-size:45px"><i class="material-icons right">close</i></span>
      <p style="font-size:20px;">
 <i class=" material-icons left">email</i>
 <span class="useremail"></span></p>

<p class="workinfo" style="font-size:20px;"></p>
<p class="areaofinterest" style="font-size:20px;"></p>
<p class="hobbies" style="font-size:20px;"></p>
<p class="skills" style="font-size:20px;"></p>
    </div>


  </div>

  </div>


  
    

  </div>

<div class="fixed-action-btn " style="bottom: 150px; right: 50px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">view_quilt</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="{{ url_for('viewupdateprofile') }}" title="Edit your profile"><i class="material-icons">mode_edit</i></a></li>
      <li><a class="btn-floating yellow darken-1 btn modal-trigger" href="#modal1" title="Edit your profile picture"><i class="material-icons">perm_contact_calendar</i></a></li>
      <li><a class="btn-floating green" href="{{ url_for('viewaddpost') }}" title="Add a post"><i class="material-icons">toc</i></a></li>
      <li><a class="btn-floating blue" href="{{ url_for('meetpeoples') }}" title="Meet peoples"><i class="material-icons">supervisor_account</i></a></li>
      <li><a class="btn-floating pink" href="{{ url_for('meetconnections') }}" title="Meet your friends"><i class="material-icons">perm_identity</i></a></li>
    </ul>
  </div>


<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Update Your Profile Pic</h4>
     <!-- form -->

     <form class="col s3 m4" id="upload" style="padding-bottom:30px" action="/upload" method="post" enctype="multipart/form-data" onsubmit="return false">
       <div class="file-field input-field">
      <div class="btn">
        <i class="material-icons left">perm_media</i>
        <span>Photo</span>
        <input type="file" id="file" name="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text"  placeholder="Upload your pic.A smiling one would be better">
      </div>
    </div>
      <div style="padding-left:30px; padding-bottom:50px;" class="transparent">
      <button id="uploadpic" class="btn waves-effect waves-light" type="submit" name="action2">Upload
    <i class="material-icons right">send</i>
  </button></div>         
  </form> 

 <!--preloader##############################################################
-->
 <div class="center-align">

 <div id="preloader5" class="preloader-wrapper big active center">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>


</div>

<!--preloader###########################################
-->



  <img class="materialboxed profilepic hide-on-med-and-down" width="650"style="max-height:500px" id="imgUpload" src="">


    </div>
    <div class="modal-footer">
      <a href="/userhome" class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>





 <div class="container hide-on-large-only">
 
    <div class="card small" style="height:100%;width:100%;">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator profilepic" src="">
      </div>

    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 username" style="font-style:italic;font-size:34px"><i class="material-icons right">more_vert</i></span><p>Click to know more</p>
      
    </div>



    <div class="card-reveal">
       <span class="card-title grey-text text-darken-4 username center"  style="font-style:italic;font-size:45px"><i class="material-icons right">close</i></span>
      <p style="font-size:20px;">
 <i class=" material-icons left">email</i>
 <span class="useremail"></span></p>

<p class="workinfo" style="font-size:20px;"></p>
<p class="areaofinterest" style="font-size:20px;"></p>
<p class="hobbies" style="font-size:20px;"></p>
<p class="skills" style="font-size:20px;"></p>
    </div>

  </div>

    
  </div>
 

<div class="container">

   <div class="row">
    <form class="col s12 " action='/tazkira' method='post' onsubmit="return false">
      <div class="row">
        <div class="input-field col s10">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="tazkira">
          <label for="icon_prefix">Add a Tazkira </label>
        </div>
        <div class="input-field col s2">
          <button id="addtazkira" class="btn waves-effect waves-light" type="submit" name="action" style="background-color:#d32f2f ">
    <i class="material-icons right">send</i>
  </button>

        </div>
        <div class="chip">
   Tazkira is a reminder which is sent to your connections on Towards Light
    <i class="material-icons">close</i>
  </div>
  
      </div>
    </form>
  </div>
          

<div id="tazkira">
    
          </div>


<!--copied from other html-->
 <h5>Here are the recent posts on Towards Light</h5> 

<ul class="collection" id="postrecent">

 <!--preloader##############################################################
-->
 <div class="center-align">

 <div id="preloader3" class="preloader-wrapper big active center">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>


</div>

<!--preloader###########################################
-->




   </ul>
       
        <ul class="pagination" id="pagination">
 



  </ul>



<!--copied from other html-->


<h5 style="margin-left:30px;">Posts by You </h5>


<ul class="collection" id="postbyyou">
 
    

    
  </ul>


    
</div>

       <footer class="page-footer" style="background-color:#ef5350;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Towards Light - Dashboard</h5>
                <p class="grey-text text-lighten-4">Learn. Share. Connect.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                    <ul>
                  <li>
                     <p>

                      <a href="{{ url_for('viewupdateprofile') }}" class="white-text">
                      <i class="material-icons">mode_edit</i> Edit your account info.</a>
                    </p>
                  </li>
                  
                  <li>
                     <p>

                      <a href="#modal1" class="white-text modal-trigger ">
                      <i class="material-icons">perm_contact_calendar</i> Edit your profile pic.</a>
                    </p>
                  </li>
                  <li>
                     <p>

                      <a href="{{ url_for('viewaddpost') }}" class="white-text">
                      <i class="material-icons">list</i> Write a blog and share.
                      <a>
                    </p>
                  </li>
                  <li>
                     <p>

                      <a href="{{ url_for('meetpeoples') }}" class="white-text">
                      <i class="material-icons">supervisor_account</i> Look for people you may know.</a>
                    </p>
                  </li>
                  <li>
                  <li>
                     <p>

                      <a href="{{ url_for('meetconnections') }}" class="white-text">
                      <i class="material-icons">perm_identity</i> Connect with Friends.
                    </a>
                    </p>
                  </li>
                     <p>

                      <a href="/logout" class="white-text">
                      <i class="material-icons">power_settings_new</i> Log Out.</a>
                    </p>
                  </li>


                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright - Towards Light | All Rights reserved
            <a class="grey-text text-lighten right" href="#!">| Terms of Service</a> 
            <a class="grey-text text-lighten right" href="#!">Contact Us</a>
            </div>
          </div>
        </footer>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <script>

        $tazkira = $('#tazkira');

$.ajax({
  url:'/tazkira',
  type: 'get',
  success: function(data){


      var obj = JSON.parse(data);

      $.each(obj,function(index,value){
       $tazkira.append('<blockquote>'+value.msg+'<br>by '+value.userf+' '+value.userl+' at '+value.time+'</blockquote>');



      });

  }

});


$('#addtazkira').click(function(){


      $.ajax({
            url:'/tazkira',
            type:'post',
            data: $('form').serialize(),
            success: function(data){
              $('#icon_prefix').val("");
              $tazkira.append('<blockquote>'+data.msg+'<br>by '+data.userf+' '+data.userl+' at '+data.time+'</blockquote>');


            }

          });

});
//self written




//self written



//copied from other html

 $("#preloader3").hide();

        var $post = $('#postrecent');

  $pagination = $('#pagination');

var pages;


$.ajax({
url : '/findpageno',
type : 'GET',
success : function(data){
  var i;
    for(i=1;i<=data.msg;i++)
    {
      $pagination.append('<li id="'+i+'" class="waves-effect"><a onclick="myfunction('+i+')">'+i+'</a></li>');
    }
    pages = data.msg

}

});

myfunction(1);
    
function myfunction(pno){
                $post.empty();
     $("#preloader3").show();


  $.ajax({
    url : '/pagination/'+pno,
    type : 'GET',
    success : function(data){
//the copied
var i;
$("#preloader3").fadeOut(300).hide();

for (i=1;i<=pages;i++)

  {
    if ($('#'+i).hasClass('active')) 
    {
    $('#'+i).removeClass('active');}
  }

$('#'+pno).addClass('active');



var obj = JSON.parse(data);
      

$.each(obj, function(index, value) {

if(value.posttype === 'Sprituality'){
  $post.append('<li class="collection-item avatar"><i class="material-icons circle green ">grade</i><span class="title"><h5>'+value.mtitle+'</h5></span><p>'+value.posttype+'<br>Published on '+value.date+'<br>~By '+value.userf+' '+value.userl+'</p><a href="/showpost/'+value.mid+'" class="secondary-content"><i class="material-icons">library_books</i></a></li>');
       }


if(value.posttype === "Political"){
  $post.append('<li class="collection-item avatar"><i class="material-icons circle pink">language</i><span class="title"><h5>'+value.mtitle+'</h5></span><p>'+value.posttype+'<br>Published on '+value.date+'<br>~By '+value.userf+' '+value.userl+'</p><a href="/showpost/'+value.mid+'" class="secondary-content"><i class="material-icons">library_books</i></a></li>');
       }


if(value.posttype === "Socio-economic"){
  $post.append('<li class="collection-item avatar"><i class="material-icons circle red">person_pin</i><span class="title"><h5>'+value.mtitle+'</h5></span><p>'+value.posttype+'<br>Published on '+value.date+'<br>~By '+value.userf+' '+value.userl+'</p><a href="/showpost/'+value.mid+'" class="secondary-content"><i class="material-icons">library_books</i></a></li>');
       }


if(value.posttype === "Life Style"){
  $post.append('<li class="collection-item avatar"><i class="material-icons circle blue">loyalty</i><span class="title"><h5>'+value.mtitle+'</h5></span><p>'+value.posttype+'<br>Published on '+value.date+'<br>~By '+value.userf+' '+value.userl+'</p><a href="/showpost/'+value.mid+'" class="secondary-content"><i class="material-icons">library_books</i></a></li>');
       }


        
   });


//the copied



    }

  });
}





//copied from other html
        
        </script>
{% endblock %}


